.bodyAdd{
  background-image: url("https://s19.directupload.net/images/191113/kwtv4hna.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
}

.overlay{
  opacity: 90%;
}

.addBuildingComp{
    border: 1px solid lightgray;
    border-radius: 50px;
    display: inline-grid;
    width: 90%;
   padding: 40px;
   margin: 40px;
    background-color: white;
    }

    .addBuildHead, .addBuildText{
      float: left;
      margin-left: 40px;
      text-align: left;
    
    }
    .addBuildBody{
      display: flex;
      margin-left: 40px;
    }
    
    .left, .center, .right{
      width: 100%;
      display: inline-grid;
    }
    
    .MuiFormControl-root.MuiTextField-root.addBuildField.MuiFormControl-marginNormal,
    .MuiFormControl-root.simpleSelector{
      width: 80%;
      float: left;
    }
    
    
    
    .addBuildField{
      width: 50%;
    }
    
    .imageUploader{
    width: 400px;
    height: 300px;
    
    }
    
    .googleMaps{
      width: 400px;
    height: 300px;
    
    }