.bodyBuilding{
  height: 100%;
    background-image: url("https://s19.directupload.net/images/191113/kwtv4hna.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
}

.building {
  padding-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 20px;
}

.buildingHeader {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}


.buildingSlider {
  margin-left: 40px;
}

.MuiSlider-root.MuiSlider-colorPrimary.material-Slider.Mui-disabled {
  
  width: 400px;
  background: linear-gradient(to right, red, orange, yellow, green);
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0);
}

  
  #root > div > div > div.bodyBuilding > div > div > div.buildingHeader > div > span > span.MuiSlider-rail{
    background: linear-gradient(to right, red, orange, yellow, green);
  }


  #root > div > div > div.bodyBuilding > div > div > div.buildingHeader > div > span > span.MuiSlider-track{
    opacity: 0;
  }
  
 
  #root > div > div > div.bodyBuilding > div > div > div.buildingHeader > div > span > span.MuiSlider-thumb{
   
  background-color: lightgrey;
  height: 20px;
  width: 20px;
}

#root > div > div > div.bodyBuilding > div > div > div.buildingHeader > div > span > span.MuiSlider-thumb > span > span
 {
  background-color: dimgray;
}



.buildingsContent {
  margin-left: 30px;
}

.buildingInfo {
  display: flex;
  margin-bottom: 60px;
}

.buildInfoLeft {
  margin-right: 60px;
}

.buildInfoCenter {
  margin-top: -10px;
}

.MuiFormControl-root.MuiTextField-root.buildingSingleInfo.MuiFormControl-marginNormal {
  width: 400px;
  margin-right: 60px;
  margin-bottom: 40px;
  padding-top: 10px;
}

.buildingPicture,
.buildingMap {
  border-radius: 10px;
}

.buildingPicture {
  width: 500px; 
  height: 300px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);

}

.buildingMap {
  width: 500px;
  height: 300px;
  position: relative;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);

}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.buildingEdit {
  margin-left: 30px;
  border: none;
  margin-right: 20px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.buildingDelete{
  border: none;
}

.buildingRecommendations {
  border: 1px solid lightgray;
  border-radius: 20px;
  width: 95%;
  height: 100%;
  padding: 40px;
	margin-right: 40px;
}


.buildingRecoHeader{
  display: flex;
}

.recoContentAll{
  height: 100%;
 
}


.recoSingleHead{
  margin-right: 390px;
  white-space: nowrap;
  margin-bottom: 40px;
}

.recoSingleHeadReco{
  margin-right: 280px;
  white-space: nowrap;
  margin-bottom: 40px;

}

.recoSpace{
  width: 200px;
  text-align: center;
}

.MuiSvgIcon-root.recoImproveIcon{
  font-size: 120px;
  color: grey

}

.recoImproveText{
  font-size: 24px;
  color: grey

}

.recoSingleRow{
  display: flex;
  border-bottom: 1px dotted gray;
  margin-bottom: 60px;
    padding-bottom: 60px;

  
}