.recommendationCard{
    border-radius: 10px;
    background-color: ghostwhite;
    width: 400px;
    height: 550px;
    margin-right: 40px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}


.recommendationPicture{
    width: 400px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}


.recoButtons{
    margin-left: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgrey;
    margin-right: 20px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.recoOffer,
.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.recoLike{
border: none;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.recoLike{
    margin-left: 20px;
}

.recoContent{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
} 

.recoTitle{
    margin-left: 0px;
}

.recoCircle{
    height: 20px;
    width: 20px;
    padding: 40px;
    color: white;
    border-radius: 10%;
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}


