.constructionCard{
    border-radius: 10px;
    background-color: ghostwhite;
    width: 400px;
    height: 550px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}


.constructionPicture{
    width: 400px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.conEdit,
.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.conDelete{
border: none
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.conDelete{
    margin-right: 20px;
}

.conContent{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
} 

.conTitle{
    margin-left: 0px;
}

.conCircle{
    height: 20px;
    width: 20px;
    padding: 40px;
    color: white;
    border-radius: 10%;
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}


.conCircleText{
    font-size: 20px;
    font-weight: 600;

}

.conButtons{
    margin-left: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgrey;
    margin-right: 20px;
    display: flex;
}


