.header{
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    
  }
  
  .header_logo{
    font-family: Georgia, Times, "Times New Roman", serif; 
    font-size: 40px; 
    font-weight: bold;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 30px;
    
  }
  
  .menu{
    display: inline;
    align-items: center;
    margin-left: auto;
  }
  
  .menuItem,  .loginText{
    font-size: 24px;
    font-weight: 200;
    

    margin-left: 90px;
  color: black;
  flex: 1;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
  background-position: 0 0.9em;
  background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
  }

  .menuItem:hover, .loginText:hover{
    background-size: 100% 50%;
    
  }

  .loginText{
    text-align: right;
    
  }
  
  
.loginArea{
    margin-right: 80px;
    align-items: center;
    display: flex;
    justify-content: end;
      
  }
  
  

  .loginLogo{
    margin-top: 22px;
  }  
  
  
  .loginArea:hover{
    
  }