.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} 


/* APP */


/* HEADER */

.header{
  padding: 20px;
  display: inline-flex;
}

.header_logo{
  font-family: Georgia, Times, "Times New Roman", serif; 
  font-size: 40px; 
  font-weight: bold;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 30px;
  
}

.menu{
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.menuItem{
  margin-left: 90px;
  width: 100px;
  text-decoration: solid;
  color: black;
}


.login{
    margin-right: 40px;
    
}

.loginText{
  float: right;
  font-weight: 200;
  padding-top: 10px;
  width: 100px;
}
 
.loginLogo{
  float: right;
  width: 3%;
  padding-top: 23px;
  margin-left: -30px;
}  

.menuItem:hover,
.loginText:hover{
  text-decoration: underline;
}

/* BODY */

.body{
  height: 875px;
  background-image: url("https://images.unsplash.com/photo-1551524164-687a55dd1126?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=925&q=80");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}


.landingPageBody{
  background-color: white;
  position: unset;
  height: 750px;
  width: 600px;
  float: right;
  text-align: left;
  margin-right: 50px;
  margin-top: 50px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.googleSignUp, 
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.facebookSignUp, 
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.emailSignUp{
  margin-bottom: 10px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.MuiButton-contained{
  margin-bottom: 20px;
}

.inputUserName, .inputUserMail, .inputUserPassword{
  width: 100%;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.googleSignUp{
  margin-top: 10px;
  background-color: #CE4231;
  color: white;

}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.facebookSignUp{
  background-color: #3B65C3;
  color: white;

}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.emailSignUp{
  margin-top: 15px;
  background-color: #2699FB;
  color: white;
}

.landingPageBodyContent{
  margin: 50px;
  margin-top: 40px;
}



/* FOOTER */





