.MuiSlider-root.Mui-disabled{
    color: green !important;
}

h1{
    color: black;
    font-weight: 300;
    
}


.bodyOverview{
    height: 1350px;
    background-image: url("https://s19.directupload.net/images/191113/kwtv4hna.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    width: 100%;
}


.headLine{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .addNewPlusLink{
    margin-left: 20px;
    text-decoration: none;
  }

.MuiButtonBase-root.MuiFab-root.overviewFilter.MuiFab-sizeSmall.MuiFab-secondary{
    box-shadow: none;
    background: none;
    color: black
  }

  .overviewHeadLeft{
    display: flex;
    align-items: center;
    width: 89%;
  }


  .overviewFilterButtons{
      display: flex;
  }

  .filterBody{
      width: 300px;
      height: 500px;
    padding: 20px;
  }

  .filterContent{
      display: grid;
  }

.MuiFormControl-root.filterOption{
    width:300px;
    margin-bottom: 40px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.filterOptionRemove.MuiButton-containedSecondary{
    margin-bottom: 40px;
    width: 100%;
    background-color: dimgray;
}


  .MuiButtonBase-root.MuiButton-root.MuiButton-outlined.addNewPlusButton{
      
      border: none;
  }

  


.content{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottomContent{
    padding-left: 30px;
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;

}


.scrollBars{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border-radius: 5px;
    height: 470px;
}



.chart{
    background-color: darkgreen;
    color: white;
    height: 400px;
    font-weight:400;
    width: 48%;
    float: right;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);   
    border-radius: 5px; 
    text-align: center;
    position: relative;   
}

.chartText{
    font-size: 40px;
    position: absolute;
    top: 70%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    color: white;
}



  
    