.addStructureComp{
    display: inherit;
    margin-top: 100px;
}

.scrollBar{
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}


.mainSlider{
    margin-left: 40px;
    width: 80%;
    margin-bottom: 40px
}

.MuiPaper-root.MuiPaper-elevation1.MuiCard-root.makeStyles-card-197.MuiPaper-rounded,
.MuiPaper-root.MuiPaper-elevation1.MuiCard-root.makeStyles-card-102.MuiPaper-rounded,
.card{
    margin-left: inherit;
    width: 100%;
    float: left;
    width: 345px;
    height: 450px;
    margin-left: 30px;

}





