.HousesMapCard {
    padding: 0 !important;
    overflow: hidden;
}

.MapHouseMarkerInfo {
    display: block;
    border-radius: 2px;
    padding: 5px 7px;
    -webkit-user-select: none;
    user-select: none;
}