.StructureTemplateCreateModal .bp3-dialog-body form {
    display: grid;
    grid-gap: 0 1rem;
}
.StructureTemplateCreateModal .bp3-dialog-body form .bp3-form-group {
    grid-column: span 2;
}
.StructureTemplateCreateModal .bp3-dialog-body form .bp3-form-group.grid-l-half {
    grid-column: span 1;
}