@import "../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

body {
  display: block;
  margin: 0;
  font-size: calc(10px + 2vmin);
  font-family: $pt-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-wrapper {
  display: block;
  position: relative;
  width: 100%;
  max-width: calc(1024px + 2rem);
  margin: 0 auto;
  padding: 0 1rem;
}

.App {
  display: block;
  min-height: 100vh;
  color: $dark-gray1;
  background-color: $light-gray4;
  -webkit-transition: background-color .1s cubic-bezier(.4,1,.75,.9);
  transition: background-color .1s cubic-bezier(.4,1,.75,.9);
}

.App.bp3-dark {
  color: $light-gray5;
  background-color: $dark-gray3;
}

.LoadingViewSpinner {
  height: 100vh;
}

.role-tag-admin {
  background-color: rgba(219, 55, 55, 0.15) !important;
  color: #c23030 !important;
}
.role-tag-customer {
  background-color: rgba(19, 124, 189, 0.15) !important;
  color: #106ba3 !important;
}