@import "../../assets/global-styles.scss";

.LoginView {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url($pattern-heightmap);
}

.LoginView .LoginViewCard {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 2rem;
    padding-top: 1.75rem;
}

.LoginView .LoginViewLogo {
    display: block;
    max-height: 2.25rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

.LoginView .LoginViewCardActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}