.EfficiencyIndicatorWrapper {
    display: inline-block;
    width: 100%;
    height: 1.5em;
    background-color: #ffffff;
    border-radius: 3px;
    padding: .3em;
}

.bp3-dark .EfficiencyIndicatorWrapper {
    background-color: #30404D !important;
}

.EfficiencyIndicatorContainer {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

$indicator-padding: 4px;

.EfficiencyIndicator {
    display: block;
    position: relative;
    width: calc(100% - #{$indicator-padding * 2});
    height: 100%;
    margin: 0 $indicator-padding;
}

.EfficiencyIndicator::before {
    content: "";
    display: block;
    width: calc(100% + #{$indicator-padding * 2});
    height: 100%;
    margin: 0 #{-$indicator-padding};
    background: linear-gradient(90deg, rgba(67,191,77,1) 0%, rgba(255,210,97,1) 50%,rgba(235,83,45,1) 100%);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.bp3-dark .EfficiencyIndicator::before {
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2);
}

.EfficiencyIndicator::after {
    content: "";
    display: block;
    width: 100%;
    height: calc(100% - .4em);
    position: absolute;
    top: .2em;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
    background-position: -1px 0;
    background-repeat: repeat-x;
    background-size: 16.8%;
}

.EfficiencyIndicatorMarker {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
}

.EfficiencyIndicatorMarker::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    z-index: 2;
}

.EfficiencyIndicatorMarker::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -7px;
    width: 7px;
    height: 100%;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0,0,0,.15);
    z-index: 1;
}